.App {
  text-align: center;
}

.my-form {
  width: 750px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.my-form input {
  width: 60%;
  padding: 5px;
  margin: 15px;
  border-radius: 20px;
  /* background: transparent; */
}
.my-form button {
  width: 15%;
  padding: 5px;
  margin: 15px;
  border-radius: 20px;
}
.my-list {
  width: 750px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  height: 350px;
}

.my-todo {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 90%;
  background: rgba(255, 42, 192, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: auto;
  margin-top: 10px !important;
}
.my-todo .my-btn {
  width : 10% ;
  padding : 5px;
  margin : 10px;
  border-radius: 20px;
}
.my-btn {
  display: flex;
  justify-content:flex-start;
  margin-right:25px;
}
.my-btn button {
  margin: 10px;
  border-radius: 20px;
}
.completed {
  text-decoration: line-through;
}
